# Python Basic

In [1]:
1+2

3

In [2]:
# Mod Operation
10%5

0

In [4]:
# Division
4 / 2

2.0

In [7]:
# Check Return Values - Return Integer Instead of float
8/2

4.0

In [8]:
# Check Return Values -  Return Integer Instead of float
8/3

2.6666666666666665

In [9]:
# Check Return Values -  Return Integer Instead of float
8//3

2

In [10]:
#BODMAS - Bracket of Division , Multiplication , Addtion and Subration
5 + 2 * 3

11

In [11]:
#BODMAS - Bracket of Division , Multiplication , Addtion and Subration
(5 + 2) * 3

21

In [12]:
#BODMAS - Bracket of Division , Multiplication , Addtion and Subration
5 + (2 * 3)

11

In [13]:
type('AR')

str

In [14]:
type(8/3)

float

In [15]:
type(8//3)

int

In [16]:
type(2.6666)

float

In [19]:
# Simple Mathmetical Operations
a = 10
b = 20 
c = a + b

In [20]:
type(c)

int

In [21]:
## Boolean Operations
True or False

True

In [22]:
True and False

False

In [23]:
True and True

True

In [24]:
type(True)

bool

In [25]:
True | False

True

In [26]:
False | True

True

In [27]:
False or True

True

In [28]:
a = 10
b = 20
a + b > 30

False

In [33]:
# Logical Operator
a = 10
b = 20
a + b > 30 | a - b < 10

True

In [34]:
# Logical Operator
a = 10
b = 20
a + b > 30 | b - a < 10

False

In [35]:
# Bitwase operator
a = 10
b = 20
a + b > 30 or b - a < 10

False

In [36]:
# Bitwase operator
a = 10
b = 20
a + b > 30 or a - b < 10

True

In [37]:
## String 
type('C')

str

In [38]:
## String 
type("AR is working on himself")

str

In [40]:
## Type Casting 
str(1)

'1'

In [41]:
## String 
str1 = "AR is working on himself"

In [42]:
str1

'AR is working on himself'

In [43]:
print(str1)

AR is working on himself

In [44]:
str1 = "working on himself"
str2 = "doesnt want to work on himself"

In [45]:
print (str1,str2)

working on himself doesnt want to work on himself

In [46]:
## Merge To String
str1+str2

'working on himselfdoesnt want to work on himself'

In [47]:
str1 + " " + str2

'working on himself doesnt want to work on himself'

In [49]:
name = input("Enter your name? ")
print(name)

Enter your name? AR
AR

In [51]:
## Add Two Numbres - Test
a = input("Input Number1 : ") # It is always treated as String, unless you need to convert
b  =  input ("Input Number2 : ")
print ( a + b )

Input Number1 : 1
Input Number2 : 20
120

In [52]:
## Add Two Numbres
a = input("Input Number1 : ") # It is always treated as String, unless you need to convert
b  =  input ("Input Number2 : ")
print ( int(a) + int(b) )

Input Number1 : 23
Input Number2 : 34
57

In [55]:
#print First and Last Name
firstname = input("What is your First Name ? : ")
lastname = input("What is your last Name ? : ")
print("Good that you are trying Python Basic. Dear" , firstname,lastname)

What is your First Name ? : AR
What is your last Name ? : Demo
Good that you are trying Python Basic. Dear AR Demo

In [59]:
#print First and Last Name using string format with PlaceHolder
first_name = input("What is your First Name ? : ")
last_name = input("What is your last Name ? : ")
print("Good that you are trying Python Basics. And your First Name is {} and Last Name is {}" .format(first_name,last_name))

What is your First Name ? : AR
What is your last Name ? : Demo
Good that you are trying Python Basics. And your First Name is AR and Last Name is Demo

In [60]:
#print First and Last Name using Placeholder and Assignment
first_name = input("What is your First Name ? : ")
last_name = input("What is your last Name ? : ")
print("Good that you are trying Python Basics. And your First Name is {firstname} and Last Name is {lastname}" .format(lastname=last_name,firstname=first_name))

What is your First Name ? : AR
What is your last Name ? : Demo
Good that you are trying Python Basics. And your First Name is AR and Last Name is Demo

In [61]:
#Strong Data Type
10 + int("34")

44

In [64]:
#if Conditions without elif
a = int(input("Enter value of Number1 : "))
b  = int(input("Enter value of Number2 : "))
c = a - b 

if c < 0 :
    print("The number is negative")
else:
    print("The number is positive")

Enter value of Number1 : 20
Enter value of Number2 : 10
The number is positive

In [66]:
#if Conditions with elif
a = int(input("Enter value of Number1 : "))
b  = int(input("Enter value of Number2 : "))
c = a - b 
print("The Value of c is : ", c)
if c < 0 :
    print("The number is negative")
elif c == 0 :
    print("The number is ZERO")
else:
    print("The number is positive")

Enter value of Number1 : 10
Enter value of Number2 : 10
The Value of c is :  0
The number is ZERO

## Data Structures

1. List
2 Tupple
3 String
3 Dictonary
4 Sets

In [67]:
lst = [10,20,30,"Apple","Orange"]

In [68]:
# Type of the List
type(lst)

list

In [69]:
#Type of the List Item
type(lst[3])

str

In [70]:
type(lst[1])

int

In [71]:
#Print List Items
print(lst[0])

10

In [73]:
#COnvert to list
list([10,40,40,"Pink","Flyod"])

[10, 40, 40, 'Pink', 'Flyod']

In [77]:
#COnvert to Tupple
list((10,40,40,"Pink","Flyod"))

[10, 40, 40, 'Pink', 'Flyod']

In [78]:
#COnvert to Tupple
type(list((10,40,40,"Pink","Flyod")))

list

In [79]:
#Append value to list
lst.append("Hulk")

In [80]:
print(lst)

[10, 20, 30, 'Apple', 'Orange', 'Hulk']

In [82]:
lst[2] = "Iron Man"
print(lst)

[10, 20, 'Iron Man', 'Apple', 'Orange', 'Hulk']

In [84]:
lst.reverse()
print(lst)

['Hulk', 'Orange', 'Apple', 'Iron Man', 20, 10]

In [86]:
lst.append("Iron Boy")
lst.append("Iron Women")
lst.append("Green Hulk")
lst.append("Incredi Hulk")
print(lst)

['Hulk', 'Orange', 'Apple', 'Iron Man', 20, 10, 'Iron Boy', 'Iron Women', 'Iron Boy', 'Iron Women', 'Green Hulk', 'Incredi Hulk']

In [87]:
lst.count(3)

0

In [90]:
# Count Values int eh List
lst.count("Hulk")

1

In [89]:
lst.count("%Hulk%")

0