In [3]:
## Pre List Comprehension

lst = [12,23,34,44]

for i in lst:
    print(i**2)

144
529
1156
1936

In [4]:
## Pre List Comprehension - Example 2

lst = [12,23,34,44]
lst1 = []
for i in lst:
    lst1.append(i**2)
print(lst1)

[144, 529, 1156, 1936]

In [5]:
## Pre List Comprehension - Example 2

lst = [12,23,34,44]
[i**2 for i in lst]

[144, 529, 1156, 1936]

In [1]:
## Sum of Even Numbers in the List 
lst = [1,2,3,4,5,6,7,8,9,10]

sum([i for i in lst if i%2==0])

30

In [3]:
tuple([1,2,3,4,5,6,7,8,9,10])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
type(tuple([1,2,3,4,5,6,7,8,9,10]))

tuple

In [12]:
testt = tuple([1,2,3,4,5,6,7,8,9,10,"AR"])
testt[10]

'AR'

In [21]:
lststring = ['Iron Man','Black Widow', 'Falcon']
print(lststring)

['Iron Man', 'Black Widow', 'Falcon']

In [22]:
lststring.reverse()

In [25]:
## Iterate and Revese the String
[i[::-1] for i in lststring ]

['naM norI', 'wodiW kcalB', 'noclaF']

In [26]:
## Iterate and Revese the String and revese the List
[i[::-1] for i in lststring ][::-1]

['noclaF', 'wodiW kcalB', 'naM norI']

In [27]:
[i[::-1] for i in lststring ][:-1]

['noclaF', 'wodiW kcalB']

In [30]:
# Tupple 

tupValue = tuple([1,2,3,4,5,6,7,8,9,10])
print(tupValue)

# length
tupValue.count(2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

1

In [32]:
tupValue.index(10)

9

In [24]:
# Sets - Collection of Unqiue Elements - Defined by {}
#Defintion
set([1,2,3,4,5,6,7,8,9,10])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
type({1,2,3,4,5})

set

In [35]:
# Check If its Unique Elements
testset = set([1,222,3,4,55,6,7,8,9,10,1,2,3,4,10])
print(testset)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 55, 222}

In [38]:
testset.add(333)
print(testset)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 333, 55, 222}

In [39]:
testset.add(144)
print(testset)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 333, 144, 55, 222}

In [47]:
# Intersecton 
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,6,7}
set1.intersection(set2)

{2, 3, 4, 5, 6}

In [49]:
# Intersecton update
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,6,7}
set1.intersection_update(set2)
print(set1)

{2, 3, 4, 5, 6}

In [53]:
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,6,7}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [55]:
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,6,7}
set1.difference(set2)

{1}

In [57]:
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,6,7}
set1.issubset(set2)

False

In [1]:
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,6,7}
set1.issuperset(set2)

False

In [50]:
## 
dir(set1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
list(set1)[2:4]

[3, 4]

In [5]:
list(set1)

[1, 2, 3, 4, 5, 6]

## Dictionaries

In [7]:
type({})

dict

In [8]:
type({1})

set

In [10]:
{1:'Iron Man',2:'Captain America' , 3: 'Batman'}

{1: 'Iron Man', 2: 'Captain America', 3: 'Batman'}

In [11]:
firstDict = {1:'Iron Man',2:'Captain America' , 3: 'Batman'}
type(firstDict)

dict

In [13]:
## Indexing 
firstDict.items()

dict_items([(1, 'Iron Man'), (2, 'Captain America'), (3, 'Batman')])

In [14]:
## Keys
firstDict.keys()

dict_keys([1, 2, 3])

In [16]:
#firstDict.keys()(1) - Wont Work
firstDict[1]

'Iron Man'

In [18]:
## Have Mulitple Values in Dictionary
multiDict = {'k1':'Iron man','List values':[12,34,56],'SuperHeros':['Iron Man','Batman','Doctor Strange']}
print (multiDict)

{'k1': 'Iron man', 'List values': [12, 34, 56], 'SuperHeros': ['Iron Man', 'Batman', 'Doctor Strange']}

In [19]:
multiDict['List values']

[12, 34, 56]

In [21]:
#Retrieve List Values
list(multiDict['List values'])[1]

34

In [22]:
#Retrieve without converting to List
multiDict['SuperHeros'][2]

'Doctor Strange'

In [23]:
## Input Functions
multiDict['SuperHeros'][2].upper()

'DOCTOR STRANGE'

In [24]:
# Arthimetic Operations
multiDict['List values'][1] += 23
multiDict['List values'][1]

57

In [25]:
multiDict['List values'][1] -= 40
multiDict['List values'][1]

17

In [27]:
# Add new Key
multiDict['Good Films'] = ['GoodFellas','Iruvar','Pettai']
print (multiDict)

{'k1': 'Iron man', 'List values': [12, 17, 56], 'SuperHeros': ['Iron Man', 'Batman', 'Doctor Strange'], 'Good Films': ['GoodFellas', 'Iruvar', 'Pettai']}

In [30]:
## Nested Dictionaraies
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d['key1']

{'nestkey': {'subnestkey': 'value'}}

In [31]:
d['key1']['nestkey']

{'subnestkey': 'value'}

In [33]:
d['key1']['nestkey']['subnestkey']

'value'

In [40]:
#Dictionary Comprehension
{ranDic:ranDic**3 for ranDic in range(9)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512}

In [41]:
## Functions
def printFavHero():
    print('Fav Hero is Batman')

In [42]:
printFavHero()

Fav Hero is Batman

In [56]:
## Sum of Alll Odd Numbers
def sum_odd_even_nos(lst):
        oddSum = 0;
        evenSum = 0;
        for num in lst:
            if ( num % 2 == 0 ):
                evenSum += num
            else:
                oddSum += num
        return evenSum,oddSum

In [57]:
es,ods=sum_odd_even_nos([1,2,3,4,5,6,7,8,9,10])
print(es)
print(ods)

30
25

In [58]:
# Add Two  list
def addTwoList(lst1,list2):
    returnLst = []
    for indx in range(len(lst1)):
        returnLst.append(lst1[indx] + lst2[indx])
    print(returnLst)

In [59]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
addTwoList(lst1,lst2)

[7, 9, 11, 13, 15]